.searchContainer{

    .searchBarContainer{

        background: #0c0d0e;
        display: flex;
        justify-content: center;
        align-items: center;

        form{
            display: flex;
            justify-content: center;
        }

        input {
            border-radius: 5px;
            border: 1px solid #d4d4d4;
            box-shadow: inset 0px 0px 1px 0px #80807F;
            padding: 11px 12px;
            margin: 13px 0px;
            width: 300px;
        }
    }
}